/* 21130596_NguyenThanhTu_0987823027_DH21DTD */
body {
    text-align: center;
    padding-top:80px;
    padding-left: 120px;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}

#home {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}

